version: '3.7'

services:

  sample:
    container_name: notablog-hyphen-sop-app
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - '.:/app'
      - '/app/node_modules'
    ports:
      - 3001:3000
    environment:
      - CHOKIDAR_USEPOLLING=true
    services:
      app:
        image: node:20.3.1
    command:
      ./node_modules/.bin/npm start